Likelihood_estimation_3x2pt_fsigma8/mcmc/chain_outputs.h5
*.png
Figures
*.h5
Likelihood_*
chains
Covariance_understanding
Cubic_Galileon_Chains
Fisher
HiCOLA_files
OldVersions/
parameters
tests
manual_C_ell.ipynb
PCA_tests_covariance.ipynb
Understanding_growth_nDGP.ipynb
*.pdf
Danielle_emcee_parallel_tutorial.py
Danielle_RSD_fisher.py
ell-values
Lin_NL_nDGP_pk.txt
*.mp4
