*.png
*.h5
*.pdf
*.mp4

Figures/
chains/
Covariance_understanding/
Cubic_Galileon_Chains/
Fisher/
HiCOLA_files/
OldVersions/
parameters/
tests/

ell-values
Lin_NL_nDGP_pk.txt
Prior_Planck_arr.npy
Y1_3x2pt.mat
Y1_3x2pt_clusterN_clusterWL_cov
Y1_3x2pt_inv
corr_example.txt
cov_shearonly_Gaussian_Y1.txt

Likelihood_*
manual_C_ell.ipynb
PCA_tests_covariance.ipynb
Understanding_growth_nDGP.ipynb
Covariance_SRD.ipynb
Covariance_SRD_frombasics.ipynb
Using_emulators_Pk.ipynb
binning.py
srd_redshift_distributions.py

